@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Varela&display=swap");

.cover {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#cover-text-1 {
  font-family: "Varela", sans-serif;
  font-size: 25px;
  text-align: left;
}

#cover-text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
}

#cover-text-3 {
  font-family: "Varela", sans-serif;
  font-size: 25px;
  text-align: right;
}

hr.new5 {
  border: 10px solid goldenrod;
  border-radius: 5px;
}

.news-container {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.news-container .title {
  position: absolute;
  background: #df2020;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
}

.news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
}

.news-container ul li::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.news-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-1083px);
  }
}

.arrow-down {
  width: 60px;
  height: 40px;
  margin: 0 0 0 -30px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
  -webkit-animation-play-state: paused;
}

.left {
  position: absolute;
  height: 10px;
  width: 40px;
  background: black;
  -webkit-transform: rotate(240deg);
  top: 10px;
  left: 10px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position: absolute;
  height: 10px;
  width: 40px;
  background: black;
  -webkit-transform: rotate(-60deg);
  top: 10px;
  left: 10px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}

@-webkit-keyframes leftArrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(225deg);
  }
}

@-webkit-keyframes rightArrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

#headline-section {
  width: 100vw;
  height: 100vh;
}

.section-table {
  text-align: center;
}
